/* General styling */
body
{
    font-family: "Roboto Mono", "san-serif", "Arial";
    margin: 0;
}

/* Top navbar styling */
.navBar
{
    margin: 0;
    background-color: rgb(26,26,26);
    color:white;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 90px;
}
.navBar > div
{
    margin: 20px 20px 20px 20px;
}
.navBar a
{
    text-decoration: none;
    font-size: 50px;
    color:white;
}
.navBar div a > img
{
    width:56px;
    height:56px;
}
.navBar p
{
    margin: 5px 0 0 0;
}
.navBar div > img
{
    height:54px;
    width:50px;
    border-radius:50%;
    padding-top:10px;
    padding-left: 20px;
    padding-right:20px;
}

.navBar input[type = "text"]
{
    font-size: 20px;
    width: 100%;
    height: auto;
    margin-left:60px;
    border:none;
    border-radius:9px 0 0 9px;
    padding-left: 10px;
}
@media (max-width: 599px) {
    .navBar input[type = "text"],.searchIcon {
        display: none;
    }
}

.navBar button
{
    background: none;
    border:none;
    margin-right:20px;
}
.navBar button:hover
{
    cursor: pointer;
}
.navBar button > img
{
    height:100%;
    width:130%;
    object-fit: fill;
}

h1
{
    padding-left:20px;
}

/* Menu View*/
.menu
{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}
h3
{
    color:#4E4E4E;
    font-size:40px;
}
.menu div > h1
{
    margin-left:3ch;
}
.left
{
    display:flex;
    flex-direction: column;
    font-size: 20px;
    width:20%;
}
.left div > p
{
    display:inline-block;
    margin: 5px 0 5px 0;
}
.left img
{
    width: 100%;      
    height: auto;
    border-radius: 8px;
    aspect-ratio: 2 / 3; 
    object-fit: fill;
    padding-bottom:20px;
}
span{
    color:#4E4E4E;
}
.detail
{
    padding-left:50px;
    width:50%;
}
.detail h3
{
    font-size:25px;
}
.detail span
{
    font-size:20px;
    display:block;
    text-align: justify;
}

/*Chapter list*/
.listContainer
{
    overflow-y: auto;
    height:550px;
}

.listContainer li
{
    list-style-type: none;
    padding-left: 20px;
    padding-top: 7px;
    font-size:19px;
}
.listContainer li > a
{
    font-size:19px;
    overflow-wrap: break-word;
    text-decoration: none;
    color:#4E4E4E;
}

.listContainer > li:hover
{
    text-decoration: underline;
}

/* Botom Buttons */
.bottomBtn
{
    display:flex;
    flex-direction: column;
    margin-top: 25px;
}
.save-unsave-btn
{
    width:100%;
    height: 40px;
    font-size:20px;
    border:none;
    border-radius:30px;
    background-color: rgb(66,117,59);
    color:white;
}
.save-unsave-btn:hover
{
    cursor: pointer;
}
.save-unsave-btn:active
{
    filter:brightness(75%);
}

/* Rating */
.rating {
  display: flex;
  flex-direction: row-reverse; /* This flips the 5-1 order back to 1-5 visually */
  justify-content: flex-end;
}

.rating input {
  display: none; /* Hides the ugly radio circles */
}

.rating label {
  font-size: 30px;
  color: #ccc; /* Default grey color for empty stars */
  cursor: pointer;
  padding: 5px;
}

/* Highlight stars when hovered or checked */
.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
  color: #ffca08; /* Gold color */
}



/* Comment Section */
.comment
{
    width:1300px;
    margin-left:60px;
    margin-top:50px;
}

.comment img
{
    width:56px;
    height:56px;
    border-radius: 50%;
    text-align: center;
}

.userComment
{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

textarea
{
    resize:none;
    width:90%;
    height:110px;
    margin-left:20px;
    margin-top:-5px;
    border-radius:10px;
    border:2px solid grey;
    font-size:18px;
    padding-left:13px;
}
.commentsSection
{
    padding-top:100px;
    gap:10px;
    display:flex;
    flex-direction: column;
}
.commentsSection > div
{
    display:flex;
    align-items: center;
    gap:15px;
}
.commentsSection p
{
    font-size:17px;
    padding-left:20px;
    padding-bottom:30px;
}
.userComment button
{
    margin-left: 30px;
    width:100px;
    height:45px;
    border:none;
    border-radius:25px;
    background-color: rgb(66,117,59);
    color:white;
    font-weight: bold;
}
.userComment button:hover
{
    cursor: pointer;
}
.userComment button:active
{
   filter:brightness(85%);
}

